body {
    background-image: url('https://github.com/user-attachments/assets/31a61395-ff20-4087-9c22-25ff68f6802e');
    background-size: cover;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

h1 {
    margin-top: 50px;
    font-size: 30px;
}

.letters-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.letter {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.letter img {
    width: 150px;
    height: auto;
}

.letter p {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
}

#text-container {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}