.message {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content; /* Ajuste la largeur selon le contenu */
}

.message img {
    width: 100%; /* La lettre prendra la même largeur que le texte */
    max-width: 300px; /* Pour éviter qu'elle devienne trop grande */
    height: auto;
}

h2 {
    font-size: 1.2rem;
    width: 100%; /* La largeur du texte est la même que celle de l'image */
    text-align: center;
    margin-top: 5px;
}

.text {
    display: none;
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
    max-width: 300px; /* La même largeur que la lettre */
    word-wrap: break-word;
    text-align: center;
}

.message:hover .text {
    display: block;
}