body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 3em;
    margin-top: 20px;
    color: #FFB6C1;
}

button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin: 10px;
    background-color: #FF69B4;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #FF1493;
}

#yes-button-container, #no-button-container {
    margin-top: 30px;
    position: relative;
}

#yes-button {
    z-index: 0; /* Place le bouton "Yes" derrière */
}

#no-button-container {
    z-index: 1; /* Place le bouton "No" devant */
}

#no-button {
    position: relative;
    z-index: 2; /* Assure que le bouton "No" soit au-dessus */
}